.nav {
	font-family: $font-roboto;
	.list {
		display: flex;
		gap: 20px;

		.link {
			position: relative;

			font-weight: 700;
			font-size: 18px;
			letter-spacing: 1px;
			color: $color-text;
			transition: color 0.3s ease;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -5px;
				width: 0;
				height: 2px;
				background: $color-orange;
				transition: width 0.3s ease;
			}

			&.active {
				color: $color-orange;

				&::after {
					width: 80%;
				}
			}

			&:hover {
				color: $color-orange;

				&::after {
					width: 100%;
				}
			}
		}
	}
}
