.icon {
	transition: all 0.3s ease;
	color: transparent;
}

.default {
	fill: $color-text;
	color: $color-text;
	width: 24px;
	height: 24px;
}

.header {
	fill: $color-text;
	color: $color-text;
	width: 30px;
	height: 30px;
}

.add {
	fill: $color-red;
	color: $color-red;
	width: 28px;
	height: 28px;
}

.remove {
	fill: $color-gray;
	color: $color-gray;
	width: 28px;
	height: 28px;
}

@include mobile-s {
	.header {
		width: 26px;
		height: 26px;
	}

	.add {
		width: 24px;
		height: 24px;
	}

	.remove {
		width: 24px;
		height: 24px;
	}
}

@include between('laptop', 'desktop-xl') {
	.add {
		width: 24px;
		height: 24px;
	}

	.remove {
		width: 24px;
		height: 24px;
	}
}
