.pageHeader {
	width: 100%;
	height: 84px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid $color-accent;

	.pageHeaderBtn {
		position: absolute;
		top: 50%;
		left: 20px;

		transform: translateY(-50%);
	}

	.pageHeaderTitle {
	}
}
