.btn {
	width: fit-content;
	height: fit-content;
	border-radius: 8px;
	padding: 12px 24px;
	font-family: $font-roboto;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;

	&:active {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
	}
}

.default {
	color: $color-white;
	background: $color-orange;

	&:hover {
		background: $color-gold;
	}
}

@include between('mobile-s', 'tablet') {
	.btn {
		padding: 8px 16px;
		font-size: 12px;
	}
}
