.wrapper {
	position: relative;
	width: 100%;
	height: 35px;

	.input {
		width: 100%;
		height: 100%;
		border: 1px solid $color-accent;
		border-radius: 6px;
		padding: 8px 12px;
		background: $color-backgroundInput;
		font-family: $font-roboto;

		&::placeholder {
			font-style: italic;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.5px;
			color: $color-text;
			opacity: 0.5;
		}
	}

	.value {
		position: absolute;
		top: 50%;
		left: 36px;

		transform: translateY(-50%);
		transition: opacity 0.2s ease;

		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
	}
}
