.icon {
	transition: all 0.3s ease;
	width: 18px;
	height: 18px;
}

.active {
	fill: $color-gold;
	color: $color-gold;
}

.disable {
	fill: rgba(255, 217, 0, 0.3);
	color: rgba(255, 217, 0, 0.3);
}

@include between('laptop', 'desktop-xl') {
	.icon {
		width: 16px;
		height: 16px;
	}
}

@include mobile-s {
	.icon {
		width: 16px;
		height: 16px;
	}
}
