.favoriteBtn {
	position: absolute;
	top: 26px;
	right: 26px;
	z-index: 2;
	width: fit-content;
	height: fit-content;
}

@include between('laptop', 'desktop-xl') {
	.favoriteBtn {
		top: 24px;
		right: 24px;
	}
}

@include mobile-s {
	.favoriteBtn {
		top: 24px;
		right: 24px;
	}
}
