.bestsellers {
	margin-top: 80px;

	.bestsellersTitle {
		text-align: center;
	}
}

@include laptop {
	.bestsellers {
		margin-top: 60px;
	}
}

@include tablet {
	.bestsellers {
		margin-top: 50px;
	}
}

@include mobile-l {
	.bestsellers {
		margin-top: 30px;
	}
}
@include mobile-s {
	.bestsellers {
		margin-top: 20px;
	}
}
