.title {
	font-family: $font-caveat;
	font-weight: 700;
	letter-spacing: 1px;
	color: $color-accent;
}

.large {
	font-size: 48px;
}

.medium {
	font-size: 42px;
}

.small {
	font-size: 32px;
}

@include tablet {
	.large {
		font-size: 40px;
	}
}

@include mobile-l {
	.large {
		font-size: 36px;
	}
}

@include mobile-s {
	.large {
		font-size: 32px;
	}
}
