.header {
	position: relative;
	width: auto;
	height: auto;

	.headerContainer {
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.cont {
			display: flex;
			align-items: center;
			gap: 50px;
		}

		@include between('mobile-s', 'tablet') {
			.cont {
				gap: 20px;
			}
		}
	}
}

.border {
	min-width: 100%;
	height: 2px;
	background: $color-accent;

	@include container;
}
